<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>" style="height:300px">
        <%= image_tag url_for(photo.photo), class: 'd-block w-100 center', alt: '...' %>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-25">
           <%= t('views.photos.added') %><%= render partial: 'users/user', object: photo.user %>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
